.picture {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 15px auto;
    position: relative;
  }
  
  .smoke-1, .smoke-2, .smoke-3 {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: radial-gradient(#FFFFFF, #73BAE2);
  }
  
  .smoke-1 {
    left: 24px;
    bottom: 90px;
  }
  
  .smoke-2 {
    left: 40px;
    bottom: 103px;
  }
  
  .smoke-3 {
    left: 60px;
    bottom: 108px;
  }
  
  .tube {
    position: absolute;
    width: 10px;
    height: 35px;
    left: 23px;
    bottom: 50px;
    background: linear-gradient(to right, rgba(255, 127, 80, 0.114), #F39941);
  }
  
  .cabin {
    position: absolute;
    border-radius: 5px;
    height: 28px;
    width: 37px;
    left: 40px;
    bottom: 47px;
    background-color: #E2534D;
  }
  
  .window {
    position: absolute;
    border-radius: 3px;
    height: 15px;
    width: 25px;
    left: 48px;
    bottom: 55px;
    background-color: #FFFFFF;
  }
  
  .headlight {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 9px;
    bottom: 22px;
    border-radius: 50%;
    background-color: #C33332;
  }
  
  .item-1, .item-2, .item-3, .item-4 {
    width: 60px;
    height: 16px;
    position: absolute;
  }
  
  .item-1 {
    left: 20px;
    bottom: 35px;
    background-color: #79F875;
  }
  
  .item-2 {
    left: 20px;
    bottom: 19px;
    background-color: #F39941;
  }
  
  .item-3 {
    left: 82px;
    bottom: 35px;
    background-color: #F5FB5A;
  }
  
  .item-4 {
    left: 82px;
    bottom: 19px;
    background-color: #53EDE3;
  }
  
  .wheel-1, .wheel-2, .wheel-3, .wheel-4 {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 11px;
    border-radius: 50%;
    background-color: #784F31;
  }
  
  .triangle-1, .triangle-2, .triangle-3, .triangle-4 {
    position: absolute;
    width: 0;
    height: 0;
    top: 3px;
    left: 2px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ECE5DF;
  }
  
  .wheel-1 {
    left: 27px;
  }
  
  .wheel-2 {
    left: 57px;
  }
  
  .wheel-3 {
    left: 89px;
  }
  
  .wheel-4 {
    left: 119px;
  }